/* loading.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/* Sisanya tetap sama */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


body{
    font-family: 'Poppins', sans-serif;
}

.nav-parent {
    /* background: linear-gradient(to right, #41a282, #73c6b6); */
    background-color: white;
    padding: 18px 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}
.menu-active{
    color: #52b678;
}

.btn-login {
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    background: linear-gradient(to right, #52b678, #268340);
    color: #fff;
    transition: background  0.3s ease-in-out;
  }
  
.btn-login:hover {
  background: linear-gradient(to right, #1c6330, #52b678);
    color: #fff;
    }
.navbar li .nav-menu {
    position: relative;
    display: inline-block;
      }
.navbar li .nav-menu:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 25%;
    background-color: #52b678;
    transition:  0.2s ease-in-out, left 0.2s ease-in-out;
    transform: translateX(-50%);
  }
.navbar li .nav-menu:hover:after {
        width: 50%;
        left: 50%;
      }
.nav-menu:hover{
    color: #52b678;
}




.loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;}
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #52b678;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card-form{
    background-color:#fff;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
  .card-testimonial{
    background-color:#f0ecec;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .card-testimonial img{
    margin-top: -80px;
  }

  .img-testimonial{
    border-radius: 50%;
    border: 2px solid #fff;
  }